system/system/apex/com.android.vndk.current.apex
system/system/app/MiuiVideoPlayer/MiuiVideoPlayer.apk
system/system/data-app/MiBrowserGlobal/MiBrowserGlobal.apk
boot.img
system_ext/priv-app/Settings/Settings.apk
vendor/camera/mimoji/model2.zip
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
